<div class="mt-4">
      <table class="table table-bordered table-striped align-middle">
        <thead>
          <tr>
            <th>#</th>
            <th>Marca</th>
            <th>Línea</th>
            <th>Modelo</th>
          </tr>
        </thead>
        <tbody>
          @for (vehicle of vehicles; track vehicle.id) {
              <tr>
                  <th>{{ vehicle.id }}</th>
                  <td>{{ vehicle.marca }}</td>
                  <td>{{ vehicle.linea }}</td>
                  <td>{{ vehicle.modelo }}</td>
              </tr>
          }
        </tbody>
      </table>
    </div>